<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Assign</th>
        <th>MSRP</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Minton Admin v1</td>
        <td>01/01/2016</td>
        <td>26/04/2016</td>
        <td><span class="label label-info">Released</span></td>
        <td>Coderthemes</td>
        <td>{{currency "1000" "USD"}}</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Minton Frontend v1</td>
        <td>01/01/2016</td>
        <td>26/04/2016</td>
        <td><span class="label label-success">Released</span></td>
        <td>Minton admin</td>
        <td>{{currency "1000" "KRW"}}</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Minton Admin v1.1</td>
        <td>01/05/2016</td>
        <td>10/05/2016</td>
        <td><span class="label label-pink">Pending</span></td>
        <td>Coderthemes</td>
        <td>{{currency "1000" "JPY"}}</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Minton Frontend v1.1</td>
        <td>01/01/2016</td>
        <td>31/05/2016</td>
        <td><span class="label label-purple">Work in Progress</span>
        </td>
        <td>Minton admin</td>
        <td>{{currency "1000" "CNY"}}</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Minton Admin v1.3</td>
        <td>01/01/2016</td>
        <td>31/05/2016</td>
        <td><span class="label label-warning">Coming soon</span></td>
        <td>Coderthemes</td>
        <td>{{currency "1000" "GBP"}}</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Minton Admin v1.3</td>
        <td>01/01/2016</td>
        <td>31/05/2016</td>
        <td><span class="label label-primary">Coming soon</span></td>
        <td>Minton admin</td>
        <td>{{currency "1000" "EUR"}}</td>
    </tr>
    </tbody>
</table>